.container {
  background-color: rgba(0,0,0,0.7);
  padding: 10rem 0 10rem;
}

.logo {
  width: 15rem;
  height: 12rem;
  margin-bottom: 8rem;
}

.bottom {
  background-color: #2a2a2f;
  font-size: 1.8rem;
  font-weight: 300;
  color: #F2F2F2;
  text-align: center;
  padding: 2rem 0;
}

.link {
  display: block;
  @include h3-mobile;
  color: #F2F2F2;
  margin-bottom: 1.4rem;
}
