.desktop {
  margin: 16rem auto 20rem;

  .header {
    padding-right: 30%;
  }

  span {
    font-weight: 300;
  }

  .text {
    margin-top: 2.4rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .bottomHr {
    margin-top: 4.8rem;
    width: 100%;
  }
}

.mobile {
  margin: 8rem auto;

  span {
    font-weight: 300;
  }

  h2 {
    @include h2-mobile;
  }

  .text {
    margin-top: 2.4rem;
    @include fz-16;
  }

  .bottomHr {
    margin-top: 2.4rem;
    width: 100%;
  }
}

.single {
  margin-bottom: 0;
}

.children {
  margin-top: 6.4rem;
}
