.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes iconAnim {
  30% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
}
.item {
  text-align: center;
  width: 30%;

  &:hover .img {
    animation: iconAnim 200ms linear;
  }
}

.img {
  height: 16rem;
}

.title {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.2rem;
}

.text {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
}
