.container {
  display: flex;
  justify-content: space-between;

  a:hover {
    transition: all 200ms ease-in;
    color: #F2994A;
  }
}

.content {
  width: 50%;
}

.text {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #000000;
}

.item {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;

  svg {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 2.4rem;
  }
}

.map {
  margin-top: 8rem;
  width: 45%;
  min-height: 40rem;
}