.container {
  background: #F2F2F2;
  padding: 11rem 0 13rem;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 32%;
  margin-bottom: 2.4rem;

  &:not(:nth-child(3n)) {
    margin-right: 2%;
  }
}

.btn {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #4F4F4F;
  text-transform: uppercase;
  transition: all 200ms ease-in;

  &:hover {
    background-color: #c8c8c8;
  }
}