.wrapper {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 4.2rem;
  display: flex;
  justify-content: space-between;
}

.phone {
  width: 100%;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 4rem;
  color: white;
  text-align: center;

  span {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2.1rem;
    color: white;
  }
}

.container {
  padding-top: 40vh;
}

.title {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
}

.btn {
  text-align: center;
  cursor: pointer;
  margin-top: 5rem;
  border-radius: .4rem;
  font-size: 2.2rem;
  color: white;
  padding: 2rem 4rem;
  background-color: #F2994A;
  transition: all 200ms ease-in;

  &:hover {
    background-color: #ff6023;
  }
}