.text {
  margin-top: 2.4rem;
  @include text-mobile;
  color: #000000;
}

.item {
  display: flex;
  align-items: center;
  @include text-mobile;
  margin-bottom: 2.4rem;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2.4rem;
  }
}

.title {
  @include h2-mobile;
}

.map {
  margin: 4rem -2rem 0;
  width: calc(100% + 4rem);
  height: 20rem;
}