.container {
  padding: 24rem 0;
  background: rgba(0, 0, 0, 0.74);
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 6.4rem;
  color: #FFFFFF;
}

.text {
  margin-top: 6.4rem;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4.2rem;
  text-align: center;
  color: #FFFFFF;
}