.item {
  display: flex;
  padding-bottom: 12rem;

  &:hover {
    .number {
      color: #F2994A;
    }

    .point {
      &:before {
        opacity: 1;
      }

      &:after {
        transform-origin: center;
        transform: scale(1.4);
      }
    }
  }
}

.number {
  width: 15%;
  font-weight: bold;
  font-size: 9.6rem;
  line-height: 9.6rem;
  transition: all 200ms ease-in-out;
  color: rgba(0, 0, 0, 0.56);
}

.content {
  width: 60%;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #000000;
  transition: all 200ms ease-in;

  h3 {
    margin-bottom: 2.4rem;
  }
}

.point {
  position: relative;
  width: 25%;

  &:before {
    position: absolute;
    content: '';
    z-index: 5;
    left: calc(50% - 1.2rem);
    top: calc(50% - 1.2rem);
    background: #F2994A;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    transition: all 200ms ease-in;
    opacity: 0;
  }

  // главная, расширяется
  &:after {
    position: absolute;
    content: '';
    left: calc(50% - 1.4rem);
    top: calc(50% - 1.4rem);
    background: rgba(242, 201, 76, 0.54);
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    transition: all 200ms ease-in;
  }
}