.container {
  font-size: 1.6rem;
  font-weight: 300;

  h2, h1, span, p {
    background-color: inherit!important;
    color: inherit!important;
  }

  h1, h1 * {
    font-size: 3.6rem!important;
    font-weight: 400!important;
  }

  h2, h2 * {
    font-size: 3.2rem!important;
    font-weight: 400!important;
    margin: 1rem 0 2rem;
  }

  h3, h3 * {
    font-size: 2.4rem!important;
    font-weight: 400!important;
    margin: 1rem 0 2rem;
  }

  h4, h4 * {
    font-size: 2.2rem!important;
    font-weight: 400!important;
  }

  h5, h5 * {
    font-size: 2rem!important;
    font-weight: 300!important;
  }

  h6, h6 *  {
    font-size: 1.8rem!important;
    font-weight: bold!important;


    li {
      position: relative;
      padding-left: 2rem;
      margin: 1rem 0;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.5rem;
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: #c37306;
      }
    }
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-weight: 400;
    font-size: 2.4rem;
  }

  h3 {
    font-weight: 400;
    font-size: 2rem;
  }

  table {
    display: block;
    max-width: 100%;
    margin: 2rem 0;
    border-spacing: 0;
    font-size: 1.6rem;
    overflow: auto;

    td {
      white-space: nowrap;
      padding: 1rem;
    }
  }

  td {
    padding: 1.5rem 0 0.5rem;
    border-bottom: solid 1px darkgrey;
    &:first-child {
      font-weight: 300;
    }
    &:last-child {
      text-align: right;
    }
  }

  ul {
    margin: 1rem 0;
  }
}
